@import 'global';
@import '~bootstrap/scss/bootstrap';

// Customize Bootstrap Components Style
@import '_spinner';

#app {
  width: 100%;
  font-family: $text-fonts;
  font-size: $font-size-base;
  color: $primary;
  background: white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #app {
    font-size: $font-size-mobile !important;
  }
}
