@import 'global';

div.card.application-card {
  margin-top: 2%;
  border-radius: $card-border-radius;
  border: 1px solid transparent;
  box-shadow: $mini-card-shadow;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;

  .card-header {
    padding: 10px 10px;
    height: 50px;
  }

  img.application-icon {
    max-height: 80px;
  }
  .application-status {
    img {
      max-height: $icon-height-small;
    }
  }
}

div.card.application-card:hover {
  box-shadow: $mini-card-shadow-selected;
}
