@import 'global';

div.card.application-inline-view {
  margin-top: 2%;
  padding: 2%;
  border-radius: $card-border-radius;
  background-color: white;
  border: 1px solid transparent;
  box-shadow: $mini-card-shadow;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  cursor: pointer;
  max-height: 100px;
}

div.card.application-inline-view:hover {
  box-shadow: $mini-card-shadow-selected;
}

div.card-body {
  padding: 0%;
}

.application-inline-row {
  margin-top: 0%;
  margin-bottom: 4%;
}

.application-inline-name {
  margin-top: 1%;
  margin-bottom: 1%;
}

.application-inline-address {
  margin-top: 1%;
  margin-bottom: 1%;
}

.application-inline-description {
  margin-top: 1%;
  margin-bottom: 1%;
  max-height: 40px;
  overflow: hidden;
}

img.application-inline-icon {
  height: 80px;
}

.application-inline-status {
  margin-top: 0%;
  img {
    max-height: $icon-height-small;
  }
}

.application-props {
  font-size: 90%;
}

button.btn.application-inline-button {
  /*  height: $btn-height;
  padding: $btn-padding;*/
  margin-top: 2%;
  height: $btn-height;
  font-size: 90%;
  background-color: $btn-bg-color;
  font-family: $btn-font;
  font-weight: $btn-font-weight;
  color: $btn-color;
  position: relative;
  border-radius: $btn-border-radius;
  border: 1px solid transparent;
  box-shadow: $btn-shadow;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

button.btn.application-inline-button:hover {
  background-color: $btn-bg-light-color;
  font-family: $btn-font;
  font-weight: $btn-font-weight;
  color: $btn-color;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  img.application-inline-icon {
    height: 60px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  img.application-inline-icon {
    height: 60px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  img.application-inline-icon {
    height: 50px;
  }
}
