@import 'global';

/*.profile-container-view {
  font-size: 0.8em;
}*/

.application-container {
  width: 90%;
}

.nav-tabs {
  font-family: $head-fonts;
  .nav-link {
    color: $light-blue;
    font-weight: 400;
  }
  .nav-link.active {
    color: $blue;
    font-weight: 400;
  }
  .nav-link.disabled {
    color: $light-grey;
    font-weight: 400;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .application-container {
    width: 100% !important;
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .application-container {
    width: 95% !important;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .application-container {
    width: 95% !important;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .application-container {
    width: 90% !important;
  }
}
