@import 'global';

.change-password-view {
  /*background-color: darken($light, 10%);*/
}
.card {
  border: none;
  margin: auto;
  background-color: $white;
}
.card .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .logo img {
  margin: 30px;
  max-width: 150px;
}
.card .card-block {
  background-color: var(--white);
}

input {
  background-color: white;
  height: $input-height-small;
  padding: $input-padding;
  border-radius: $input-border-radius;
  border: 1px solid transparent;
  box-shadow: $input-shadow;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

input.form-control:hover {
  box-shadow: $input-shadow-selected;
}

input:disabled {
  border-color: transparent;
  box-shadow: none !important;
}

button.btn {
  background-color: $btn-bg-color;
  font-family: $btn-font;
  font-weight: $btn-font-weight;
  color: $btn-color;
  height: $btn-height;
  padding: $btn-padding;
  border-radius: $btn-border-radius;
  border: 1px solid transparent;
  box-shadow: $btn-shadow;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

button.btn:hover {
  background-color: $btn-bg-light-color;
  font-family: $btn-font;
  font-weight: $btn-font-weight;
  color: $btn-color;
}
