.picker-main {
  width: 55%;
}

.color-picker {
  display: flex;
  justify-content: space-around;
}
.color-picker > .color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1.5px solid whitesmoke;
  cursor: pointer;
}
.color.selected {
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
  border: 3px solid rgba(0, 0, 0, 0.4);
}
.color.primary {
  background: $primary;
}
.color.success {
  background: $success;
}
.color.warning {
  background: $warning;
}
.color.secondary {
  background: $secondary;
}
