@import 'global';

div.card.device-editor {
  margin-top: 3%;
  border-radius: $card-border-radius;
  border: 1px solid transparent;
  box-shadow: $mini-card-shadow;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;

  .card-header {
    padding: 10px 10px;
    height: 50px;
    background-color: $light-grey;
  }

  .card-footer {
    padding: 10px 10px;
    background-color: $light-grey;
  }

  label {
    color: $primary;
  }

  input.form-control {
    margin-bottom: 5px;
    width: 100%;
    background-color: white;
    padding: $input-padding;
    border-radius: $input-border-radius;
    border: 1px solid transparent;
    box-shadow: $input-shadow;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  input.form-control:valid {
    border-color: $lightsuccess;
  }

  input.form-control:invalid {
    border-color: $grey;
  }

  input.form-control:hover {
    box-shadow: $input-shadow-selected;
  }

  input.form-control:disabled {
    border-color: transparent;
    box-shadow: none !important;
  }

  select.custom-select {
    margin-bottom: 1%;
    background-color: white;
    padding: $input-padding;
    border-radius: $input-border-radius;
    border: 1px solid transparent;
    box-shadow: $input-shadow;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  select.custom-select:valid {
    border-color: $lightsuccess;
  }

  select.custom-select:invalid {
    border-color: $grey;
  }

  select.custom-select:hover {
    box-shadow: $input-shadow-selected;
  }

  select.custom-select:disabled {
    border-color: transparent;
    box-shadow: none !important;
  }
  
  .card-footer {
    padding: 10px 10px;
    height: 60px;
  }

  button.btn {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    background-color: $btn-bg-color;
    font-family: $btn-font;
    font-weight: $btn-font-weight;
    color: $btn-color;
    height: $btn-height;
    padding: $btn-padding;
    border-radius: $btn-border-radius;
    border: 1px solid transparent;
    box-shadow: $btn-shadow;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  button.btn:hover {
    background-color: $btn-bg-light-color;
    font-family: $btn-font;
    font-weight: $btn-font-weight;
    color: $btn-color;
  }
}
