@import "global";

div#imagesHeaderImport > div.modal-dialog > div.modal-content {
  width: 80%;
  margin-left: 10%;
  border-radius: $card-border-radius;
  border: 1px solid transparent;
  box-shadow: $card-shadow;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.file-import-container-header {
  background-color: $grey;
  height: 50px;
}

.file-import-container-body {
  border-radius: 10px;
}

div#imagesAvatarImport > .modal-dialog > .modal-content {
  width: 60%;
  margin-left: 20%;
  border-radius: $card-border-radius;
  border: 1px solid transparent;
  box-shadow: $card-shadow;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  div#imagesHeaderImport > div.modal-dialog > div.modal-content {
    width: 100%;
  }
  div#imagesAvatarImport > .modal-dialog > .modal-content {
    width: 90%;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  div#imagesHeaderImport > div.modal-dialog > div.modal-content {
    width: 100%;
    margin-left: 0%;
  }
  div#imagesAvatarImport > .modal-dialog > .modal-content {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  div#imagesHeaderImport > div.modal-dialog > div.modal-content {
    width: 90%;
    margin-left: 5%;
  }
  div#imagesAvatarImport > .modal-dialog > .modal-content {
    margin-left: 10%;
    width: 80%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  div#imagesHeaderImport > div.modal-dialog > div.modal-content {
    width: 90%;
    margin-left: 5%;
  }
  div#imagesAvatarImport > .modal-dialog > .modal-content {
    width: 70%;
    margin-left: 15%;
  }
}
