@import 'global';

.forgot-form-view {
  margin-top: 5%;
  font-size: 1em;
}

label#reset-password {
  color: $primary;
}

input#reset-password {
  width: 100%;
  background-color: $secondary;
  height: 40px;
  padding: $input-padding;
  border-radius: $input-border-radius;
  border: 1px solid transparent;
  box-shadow: $input-shadow;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

input#reset-password.form-control:valid {
  border-color: $lightsuccess;
}

input#reset-password.form-control:invalid {
  border-color: $grey;
}

input#reset-password.form-control:hover {
  box-shadow: $input-shadow-selected;
}