#tables {
  margin: 30px;

  #ddown-split {
    padding-left: 5%;
  }

  .btn-secondary {
    color: #fff;
    padding-left: 5%;
  }

  .btn-secondary:hover {
    background-color: white;
    color: #33b277;
    border-color: #f9b23e;
    padding-left: 5%;
  }

  .btn-secondary:focus {
    background-color: white;
    color: #33b277;
    border-color: #f9b23e;
    padding-left: 5%;
  }

  .dropdown-item:active {
    background-color: transparent;
    color: #686868;
    border: 1px;
    border-color: #f9b23e;
  }

  .dropdown-item:hover {
    background-color: transparent;
    color: #33b277;
    border: 1px;
    border-color: #f9b23e;
  }

  #description {
    padding-top: 1%;
    padding-left: 5%;
  }

  #search {
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;

    #search-box {
      background-color: transparent;
      width: 90%;
      font-size: 16px;
      border: 0px solid #ddd;
    }

    #search-icon {
      path {
        fill: #d4d4d4 !important;
      }
    }
  }
}

#aloes-table {
  margin: 50px;
}

#aloes-table p {
  margin: 20px 0;
}

#aloes-table table {
  width: 100%;
  border-collapse: collapse;
}

#aloes-table tr.header,
#aloes-table tr:hover,
#aloes-table tr:nth-of-type(odd) {
  background-color: #f1f1f1;
}

#aloes-table tr:nth-of-type(odd):hover {
  background: #ffff;
}

#aloes-table th {
  background: #029ea8;
  color: white;
  font-weight: bold;
  cursor: s-resize;
  background-repeat: no-repeat;
  background-position: 3% center;
}

#aloes-table td,
th {
  padding: 5px 5px;
  border: 1px solid #ccc;
  text-align: left;
  max-width: 350px;
  font-size: 16px;
}

#aloes-table th.des:after {
  content: "\21E9";
}

#aloes-table th.aes:after {
  content: "\21E7";
}

/* 
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.
    */
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  #aloes-table table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #aloes-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #aloes-table tr {
    border: 1px solid #ccc;
  }

  #aloes-table td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  #aloes-table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /* Label the data */
  #aloes-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #aloes-table {
    padding: 0;
    margin: 0;
    width: 320px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #aloes-table {
    width: 495px;
  }
}

#aloes-table .icons {
  max-width: 30px;
  max-height: 30px;
}

#aloes-table .cells {
  margin: 0px !important;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
