@import "global";

div#login-popup > .modal-dialog > .modal-content {
  border-radius: $card-border-radius;
  border: 1px solid transparent;
  box-shadow: $mini-card-shadow;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  color: black;
}

.header-popup-image {
  margin-top: 6%;
  margin-bottom: 8%;
  width: 40%;
  margin-left: 30%;
  border-radius: 0;
}

.header-popup-body {
  color: $primary;
}
