@import 'global';

button.btn {
  z-index: 4;
  height: $btn-height;
  font-weight: $btn-font-weight;
  border-radius: $btn-border-radius;
  border: 1px solid transparent;
  box-shadow: $btn-shadow;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}
